/* For wrapper and main */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: clip;
}
.wrapper > main {
  flex-grow: 1;
}

/* For containers */
[class*="__container"] {
  max-width: 80.375rem;
  padding: 0 0.9375rem;
  margin: 0 auto;
}

/* For body */
body {
  font-family: "Roboto", sans-serif;
}

/* For main button */
.main-button {
  padding: 0.375rem 1.5rem;
  border-radius: 0.5rem;
  background-color: #5d78ff;
  color: #fff;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 160%;

  transition: background-color 0.3s;
}
/* Hover */
@media (any-hover: hover) {
  .main-button:hover {
    background-color: #0e77f1;
  }
}

/* For sing in link */
.singin-link {
  align-items: center;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 160%;

  color: #5d78ff;
  transition: color 0.3s;
}
/* Hover */
@media (any-hover: hover) {
  .singin-link:hover {
    color: #394aa1;
  }
}
